html{
    background-color: gray;
}
body{
    position: absolute;
}
h1{
    font-size: 40px;
    text-align: center;
    background-color: blue;
    color: white;
}
body{
    position: absolute;

}
label{
    color: white;
    text-align: center;
    font-size: 20px;
}
input{
    text-align: center;
    margin-left: 100px;
    border-style: double;
    font-size: 15px;
}
button{
    margin-top: 10px;
    margin-left: 100px;
    border-radius: 5px;
    font-size: 20px;
    color: blue;
}