html{
    background-image: url(planets-life-orig.jpg);
    background-size: cover;
}
.navbar{
    background-color: white;
    font-size: 50px;
    text-align: center;
    color: purple;
}
.menu{
    float: right;
    margin-right: 100px;
    font-size: 40px;
    word-spacing: 20px;
}
a:hover{
    background-color: white;
    color: black;
}
